.header{
      font-size: large;
      background-color: darkred;
      background-image: linear-gradient(red,whitesmoke);
      padding: 2rem;
      border-radius: 10rem;
      display: flex;
      justify-content: center;
}

.header label{
      color: whitesmoke;
}

.header input{
      border-radius: 10rem;
}

